Options -MultiViews
RewriteEngine On 

RewriteBase /bzt.m120.mvc-example-master/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]